---
import Layout from "@/layouts/RootLayout.astro";
import Config from "@/config/config.json";
import tags from "@/config/tags.json";
import type { CollectionEntry } from "astro:content";
import { capitalize, cn, sortByPriority } from "@/lib/utils";

interface Props {
  title?: string;
  posts: CollectionEntry<"collection">[];
}

const { title = "Collection", posts } = Astro.props;
const { tag } = Astro.params;
---

<Layout title={title}>
  <div class="collection-gradient banner">
    <div class="container">
      <h1 class="font-bold mb-2 text-2xl">{Config.collection.title}</h1>
      <p class="text-sm font-serif">
        {Config.collection.description}
      </p>
    </div>
  </div>
  <div class="container py-10">
    <nav aria-label="Tags" class="flex flex-wrap gap-2 mb-10">
      <a
        href="/collection"
        class={cn(
          "text-sm font-medium border focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-4 focus-visible:ring-offset-background px-4 py-1 rounded-full bg-element text-neutral-800 dark:text-neutral-200 border-slate-200 dark:border-white/5",
          {
            "bg-primary text-primary-foreground dark:text-primary-foreground":
              !tag,
          }
        )}>All</a
      >
      {
        tags.sort().map((t) => (
          <a
            href={`/collection/tag/${t}`}
            class={cn(
              "text-sm font-medium border px-4 py-1 rounded-full bg-element text-neutral-800 dark:text-neutral-200 border-slate-200 dark:border-white/5",
              {
                "bg-primary text-primary-foreground dark:text-primary-foreground":
                  tag === t,
              }
            )}
          >
            {capitalize(t)}
          </a>
        ))
      }
    </nav>
    {
      posts.length === 0 ? (
        <p class="text-lg font-semibold text-center">Nothing here</p>
      ) : (
        <ul class="grid lg:grid-cols-3 sm:grid-cols-2 gap-8">
          {sortByPriority(posts).map(({ data, slug }) => (
            <li class="card">
              <article class="flex flex-col">
                <a
                  href={`/collection/${slug}`}
                  class="text-lg font-semibold block font-serif after:absolute after:inset-0"
                >
                  <h3>{data.title}</h3>
                </a>
                <p class="text-xs font-medium mb-4 text-muted-foreground">
                  {data.publishDate.toLocaleDateString()}
                </p>
                <p class="mb-6 leading-6 text-sm font-medium">
                  {data.description}
                </p>
                <ul class="flex flex-wrap gap-2 mt-auto">
                  {data.tags.sort().map((tag) => (
                    <a
                      href={`/collection/tag/${tag}`}
                      class="text-xs capitalize font-medium px-3 py-1 bg-pink-400/10 hover:bg-pink-400/20 transition-colors text-pink-800 dark:text-pink-200 border-pink-300/20 rounded border relative"
                    >
                      {tag}
                    </a>
                  ))}
                </ul>
              </article>
            </li>
          ))}
        </ul>
      )
    }
  </div>
</Layout>
