---
import RootLayout from "./RootLayout.astro";
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import { cn } from "@/lib/utils";
import { button } from "@/components/ui/Button.astro";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  headings: MarkdownHeading[];
  projectSettings?: CollectionEntry<"portfolio">["data"]["projectSettings"];
}

const { headings, title, projectSettings } = Astro.props;
---

<RootLayout title={title}>
  <div class="container relative flex gap-10 py-10">
    <div
      class="w-72 font-serif sticky top-24 left-0 h-fit max-h-[82vh] scrollbar-thin overflow-y-auto hidden lg:block"
    >
      <nav
        aria-label="Table of content"
        class="border-l-4 pl-4 border-fuchsia-600/30"
      >
        <p class="font-extrabold" aria-hidden="true">On this page</p>
        <ul class="py-2 pr-2">
          {
            headings.map((heading) => (
              <li>
                <a
                  href={`#${heading.slug}`}
                  class={cn(
                    "text-sm leading-5 mt-4 text-pretty block hover:underline",
                    {
                      "ml-3 mt-2": heading.depth === 3,
                      "ml-6 mt-2": heading.depth === 4,
                      "ml-9 mt-2": heading.depth === 5,
                      "ml-12 mt-2": heading.depth === 6,
                    }
                  )}
                >
                  {heading.text}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
    <div class="flex gap-8 flex-col max-xl:w-full xl:flex-row">
      <div
        class="prose prose-pre:max-w-[92vw] dark:prose-invert max-xl:mx-auto max-w-2xl"
      >
        <h1>{title}</h1>
        <!-- Render the <Content /> comp as child -->
        <slot />
      </div>
      {
        projectSettings && (
          <nav
            aria-label="Project links"
            class="flex max-xl:justify-center w-full xl:flex-col gap-2 min-w-56 max-xl:mt-8"
          >
            <a
              href={projectSettings.github}
              target="_blank"
              class={cn(
                button({ variant: "default", size: "sm" }),
                "font-sans items-center gap-2 h-9"
              )}
            >
              <Icon name="github" size={25} /> GitHub
            </a>
            {projectSettings.website && (
              <a
                href={projectSettings.website}
                target="_blank"
                class={cn(
                  button({ variant: "ghost", size: "sm" }),
                  "font-sans items-center gap-2 h-9 border border-neutral-200 dark:border-neutral-800"
                )}
              >
                View Website
              </a>
            )}
          </nav>
        )
      }
    </div>
  </div>
</RootLayout>
